<?xml version="1.0" encoding="utf-8"?>
<manifest package="br.com.trabalhouna.leagueoflegendshelper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".viewcontroller.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".viewcontroller.MatchHistoryActivity"
            android:label="@string/title_activity_match_history"/>
        <activity
            android:name=".viewcontroller.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".viewcontroller.CurrentMatchActivity"
            android:label="@string/title_activity_current_match">
        </activity>
        <activity
            android:name=".viewcontroller.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
